.category {
  padding: 1rem;
  background-color: yellowgreen;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.filtered-products,
.default-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  border-radius: 0.5rem;
}

.product-main-container {
  max-width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin: 2rem auto;
}

.category-item {
  background-color: rgb(205, 193, 32);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.category-active {
  background-color: black;
  color: white;
}
